[01;34m./frontend/src/components[0m
│   00Tree.html
│   ChatAnalysisPanel.vue
│   ChatDialogs.vue
│   ChatFloating.vue
│   ClusterDocumentsList.vue
│   ClusterView_OLD_BACKUP.vue
│   ClusterView.vue
│   ComparisonDialog.vue
│   DocDetailsPanel.vue
│   [01;34mDocDetailsTabs[0m
│   │   AnalyzeTab.vue
│   │   ClusterTab.vue
│   │   DetailsTab.vue
│   │   PersonsTab.vue
│   │   SimilarTab.vue
│   │   SummaryTab.vue
│       WritingTab.vue
├── DocDetails.vue
├── DocumentMetadataCard.vue
├── DocumentNeighborsView.vue
├── FooterBar.vue
├── HeaderBar.vue
├── PaginationControls.vue
├── SearchPanel.vue
├── [01;34mshared[0m
│   │   DocumentPreview.vue
│   │   EmptyState.vue
│       LoadingState.vue
├── SimilarDocumentsSection.vue
├── TaskQueue.vue
├── UploadPanel.vue
└── WritingAssistant.vue

3 directories, 30 files
